@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

#document{
    background-color: rgb(208, 165, 248);
}

#titleContainer{
    height: 4.5rem;
    position: relative;
    top: -10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 64, 64);
    background-color: rgb(166, 250, 250);
    border-radius: 1em;
}

.center {
    width: 100%;
    justify-content: center;
    display: flex;
}

#winnerMessage{
    position: relative;
    top: -10px;
    text-align: center;
    background-color: rgb(106, 255, 138);
    color: rgb(82, 53, 184);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    border-radius: 15em;

}

.file{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.boardContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }


.square{
    background-color: rgb(238, 188, 123);
    font-family: 'Noto Sans', sans-serif;
    color: rgb(51, 50, 50);
    font-size: 500%;
    text-align: right;
    border: 3px rgb(155, 122, 247) solid;
    padding: 50px;
    border-radius: 10%;
    margin: .3%;
    width: 0.1em;
    height: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:not(.completed):hover{
    background-color: rgb(38, 233, 38);
}

.square.completed:hover{
    background-color: rgb(250, 29, 29);
}

.square:not(.completed):active{
    background-color: rgb(0, 121, 0);
}

.button{
    margin: 0.5%;
    width: 7rem;
    height: 3rem;
    font-size: large;
    background-color: aquamarine;
    font-family: cursive;
    font-weight: bold;
    color: rgb(14, 29, 245);
    border-radius: 0.5rem;
}

.button:hover{
    background-color: rgb(47, 252, 183);
}