.center {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


.file{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.boardContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }


.square{
    border: 1px black solid;
    padding: 50px;
    border-radius: 10%;
    margin: .5%;
    width: 0.1em;
    height: 0.1em;
}

.square:hover{
    background-color: aqua;
}

.square:active{
    background-color: rgb(250, 250, 21);
}